Build a regression model.

In [1]:
from statsmodels.formula.api import ols as OLS
import pandas as pd
import sqlite3
from sqlite3 import Error

In [2]:
# taken from compass, SQL in Python walkthrough
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [3]:
# connect to database
connection = create_connection("../data/bikes_db.sqlite")

Connection to SQLite DB successful

In [4]:
# select stations data
# note: free_bikes seems to always be 0 in these locations
select_stations = "SELECT free_bikes + empty_slots AS total_bikes FROM stations"
total_bikes = execute_read_query(connection, select_stations)
bikes_df = pd.DataFrame(total_bikes, columns=['total_bikes'])
bikes_df.head()

   total_bikes
0          0.0
1          2.0
2          3.0
3         11.0
4          6.0

In [5]:
# select places data
select_pois = "SELECT station_idx, popularity, verified, review_count, rating, price, distance FROM places"
pois = execute_read_query(connection, select_pois)
print(pois[:5])

[(12, 0.6511544400157995, 0, 27.182795698924732, 7.1, 1.8799126637554586, 6.0), (5, 0.8862795791590362, 0, 27.182795698924732, 8.03089430894309, 2.0, 7.0), (8, 0.9589751876189452, 0, 27.182795698924732, 8.6, 1.8799126637554586, 8.0), (22, 0.9944881324284536, 1, 27.182795698924732, 8.2, 2.0, 12.0), (17, 0.3366727710151172, 1, 27.182795698924732, 6.9, 2.0, 13.0)]

In [6]:
# replace station index with number of bikes in places data
def station_idx_to_bikes(poi):
    poi_edit = list(poi)
    poi_edit[0] = total_bikes[poi_edit[0]][0]
    poi_ret = tuple(poi_edit)
    return poi_ret
pois_bikes = list(map(station_idx_to_bikes, pois))
pois_bikes_df = pd.DataFrame(pois_bikes, columns = ['total_bikes', 'popularity', 'verified', 'review_count', 'rating', 'price', 'distance'])
pois_bikes_df

,total_bikes,popularity,verified,review_count,rating,price,distance
0,5.0,0.651154,0,27.182796,7.100000,1.879913,6.000000
1,6.0,0.886280,0,27.182796,8.030894,2.000000,7.000000
2,2.0,0.958975,0,27.182796,8.600000,1.879913,8.000000
3,3.0,0.994488,1,27.182796,8.200000,2.000000,12.000000
4,0.0,0.336673,1,27.182796,6.900000,2.000000,13.000000
...,...,...,...,...,...,...,...
257,3.0,0.813725,0,30.000000,8.000000,2.000000,434.153674
258,10.0,0.813725,0,40.000000,9.000000,3.000000,443.520000
259,0.0,0.813725,0,50.000000,9.000000,2.000000,530.969359
260,2.0,0.813725,0,15.000000,9.000000,2.000000,571.783857
261,2.0,0.813725,0,6.000000,9.000000,4.000000,743.663277

In [7]:
# Add intercept column
pois_bikes_df['intercept'] = 1
# Run OLS
res = OLS(formula = 'total_bikes ~ popularity + verified + review_count + rating + price + distance + intercept', data = pois_bikes_df).fit()

Provide model output and an interpretation of the results.

In [8]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            total_bikes   R-squared:                       0.040
Model:                            OLS   Adj. R-squared:                  0.017
Method:                 Least Squares   F-statistic:                     1.756
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.109
Time:                        11:46:49   Log-Likelihood:                -683.28
No. Observations:                 262   AIC:                             1381.
Df Residuals:                     255   BIC:                             1406.
Df Model:                           6
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       -0.4264      1.067     -0.400      0.690      -2.527       1.674
popularity       1.3807      1.029      1.341      0.181      -0.646       3.408
verified        -0.1056      0.692     -0.153      0.879      -1.468       1.257
review_count     0.0159      0.009      1.779      0.076      -0.002       0.033
rating           0.3529      0.262      1.347      0.179      -0.163       0.869
price            0.3641      0.302      1.206      0.229      -0.231       0.959
distance        -0.0004      0.002     -0.224      0.823      -0.004       0.003
intercept       -0.4264      1.067     -0.400      0.690      -2.527       1.674
==============================================================================
Omnibus:                       32.433   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.899
Skew:                           0.979   Prob(JB):                     7.97e-10
Kurtosis:                       3.048   Cond. No.                     1.43e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.97e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

### Results Analysis
- R-squared of 0.040 is extremely low, indicating the model does a very poor job of fitting the data, as it can only explain 4% of the data. This number goes down to 1.7% if using the adjusted R-squared
- None of the p-values are below the threshold of 0.05, and thus every metric fails to meet statistical significance. The closest one would be review count, at a p-value of 0.076.
- The largest coefficient magnitude by far was 1.3807 for popularity, though this could be due to a lack of standardization/normalization

Overall, no conclusion can be drawn, and further action is required. Examples of such action would include gathering more entries, including more kinds of data such as restaurant category, and normalizing/standardizing the data.

# Stretch

How can you turn the regression model into a classification model?

Modify the question asked to be a categorical one, such as predicting if a bike station has more than 10 bikes. Then perform a logistic regression instead of regular regression.